{% extends "logged_out_base.html" %}

{% block title %}
Signup
{% endblock %}

{% block content %}
<h1>Sign Up</h1>

<form action="#" method="POST">
    <p><strong>Username:</strong></p>
    <input type="text" name="username" required>

    <p><strong>Password:</strong></p>
    <input type="password" name="password" required>
    
    <p><strong>Re-enter Password:</strong></p>
    <input type="password" name="password_check" required>
    
    <p><button type="submit">Sign Up</button></p>
</form>
{% endblock %}