{% extends "logged_in_base.html" %}

{% block title %}
Your Stats
{% endblock %}

{% block content %}
<h1>Statistics</h1>

<h2>Most Appearances</h2>
{% for restaurant in frontend_data["highest_appearance"] %}
    {% if restaurant[0] == "Restaurant" %}
        <p>Unspecified Restaurants have appeared {{restaurant[1]}}</p>
    
    {% else %}
        <p>{{restaurant[0]}}s has appeared {{restaurant[1]}}</p>

    {% endif %}
    
{% endfor %}

<h2>We Believe You Like:</h2>
{% for restaurant in frontend_data["highest_acceptance"] %}
    {% if restaurant[0] == "Restaurant" %}
        <p>Unspecified Restaurants because you accepted it {{restaurant[1]}}% of the time</p>
    
    {% else %}
        <p>{{restaurant[0]}}s because you accepted it {{restaurant[1]}}% of the time</p>

    {% endif %}
    
{% endfor %}

<h2>You've seen {{frontend_data["all_cuisine_len"]}} different cuisines</h2>
<h2>You've interacted with {{frontend_data["all_interaction_len"]}} food places</h2>


{% endblock %}