{% extends "logged_in_base.html" %}

{% block title %}
Your Stats
{% endblock %}

{% block content %}
<h1>Your Statistics</h1>
{% if frontend_data["highest_appearance"] %}
    <h2>Most Frequent Cuisines</h2>
    {% for restaurant in frontend_data["highest_appearance"] %}
        {% if restaurant[0] == "Restaurant" %}
            <p>Unspecified Restaurants have appeared <strong>{{restaurant[1]}} times</strong></p>
        {% else %}
            <p>{{restaurant[0]}} have appeared <strong>{{restaurant[1]}} times</strong></p>
        {% endif %}
    {% endfor %}
{% endif %}

{% if frontend_data["highest_acceptance"] %}
    <h2>Your Preferences</h2>
    {% for restaurant in frontend_data["highest_acceptance"] %}
        {% if restaurant[0] == "Restaurant" %}
            <p>You accepted Unspecified Restaurants <strong>{{restaurant[1]}}%</strong> of the time</p>
        {% else %}
            <p>You accepted {{restaurant[0]}} <strong>{{restaurant[1]}}%</strong> of the time</p>
        {% endif %}
    {% endfor %}
{% endif %}

{% if frontend_data["all_cuisine_len"] or frontend_data["all_interaction_len"] %}
    <h2>Overall Activity</h2>
    <p>You've seen <strong>{{frontend_data["all_cuisine_len"]}}</strong> different cuisines</p>
    <p>You've interacted with <strong>{{frontend_data["all_interaction_len"]}}</strong> restaurants</p>
{% endif %}


{% endblock %}