{% extends "logged_in_base.html" %}

{% block title %}
Summary
{% endblock %}

{% block content %}
<h1>Summary Section</h1>

{% for restaurant in displayed_restaurants %}
    <p>Name: {{ restaurant[0] }}</p>
    <p>Dine in option: {{ restaurant[1] }}</p>
    <p>Takeout: {{ restaurant[2] }}</p>
    <p>Vegan: {{ restaurant[3] }}</p>
    <p>Price: {{ restaurant[4] }}</p>
    <p>Cuisine: {{ restaurant[5] }}</p>
    <p>Rating: {{ restaurant[6] }}</p>
    <p>Rating count: {{ restaurant[7] }}</p>
    <p>Open: {{ restaurant[8] }}</p>
    <p>Drive: {{ restaurant[9] }}</p>
    <p>Your decision: {{ restaurant[10] }}</p>
    <hr>
{% endfor %}

<a href="{{ url_for('submission.user_submission') }}">Go back</a>
{% endblock %}